'''Faça um programa que mostre na tela uma contagem regressiva 
para o estouro de fogos de artifício, indo de 10 até 0, com uma
pausa de 1 segundo entre eles.'''

from datetime import datetime
import time

count = 10

while count >= 0:
    print(count)
    count -= 1
    time.sleep(1)
print("BUM! BUM! BUM!")
